::-webkit-scrollbar {
    width: 0.5em;
}

.App {
    display: flex;
    height: 100vh;
}

.WordList {
    list-style-type: none;
    padding-right: 2em;
    margin-top: 1rem;
    overflow-y: auto;
}

.WordList li {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.WordList li:hover {
    background-color: #eee;
    cursor: pointer;
}