p {
    margin: 0;
}

.WordCard {
    padding-left: 0.4rem;
}

.Entry {
    margin: 1rem;
    padding: 1rem;
}

.WordInformation {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.4rem;
}

.HeadWord {
    margin: 0.3rem 0 0rem 0;
}

.FunctionalLabel {
    margin-bottom: 0;
    margin-left: 1rem;
    font-weight: bold;
}

.SenseEntry {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.SenseGroup {
    padding-top: 0.5rem;
}

.Link {
    color: blue;
    text-decoration: none;
}
.Link:hover {
    text-decoration: underline;
}

.DefinitionText {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

blockquote {
    color: rgb(91, 91, 91);
    font-size: 1.2rem;
    margin: 0;
    margin-top: 0.4rem;
    padding-left: 1rem;
    border-left: 0.5rem solid #eee;
    font-family: 'Nunito', sans-serif;
}

span.SmallCapitals {
    font-variant: small-caps;
}